<!DOCTYPE html>
<html lang="eng" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>To do List</title>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        
        <div class="box" id="heading">
            <h1><%=kindOfDay %> </h1>
        </div>
        <ul>
            <li>buy food</li>
            <li>cook food</li>
            <li>eat food </li>
            <% for(var i=0;i<newListItems.length;i++){ %>
                <li><%= newListItems[i] %></li>
            <% } %>

        </ul>
       <form class="submit" action="/" method="post">
            <input type="text" name="newItem">
            <button type="submit" name="button">Add</button> 
       </form>
    </body>
</html>