<!DOCTYPE html>
<html lang="eng" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>To do List</title>
    </head>
    <body>
        
        <h1 style="color:purple"><%=kindOfDay %> ToDoList</h1>
       
    </body>
</html>